html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Helvetica, serif;
    font-size: 17px;
    color: #FFFFFF;
}

.CV {
    display: flex;
    background: #444444;
    width: 1127px;
    height: 595px;
    border-radius: 30px;
}


.cv-bar {
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cv-card {
    background: #222222;
    width: 747px;
    border-radius: 30px;
}

.wrapper-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}

.wrapper-avatar {
    align-self: center;
}

.avatar {
    position: relative;
    height: 180px;
    border-radius: 180px;
    box-shadow: 12px 12px #5d5d5d;
}

.bar-name {
    margin-top: 25px;
    margin-bottom: 0;
    text-align: center;
}

.bar-profession {
    margin: 8px;
    text-align: center;
}


.social-networks {
    display: flex;
    align-items: center;
    margin: 3px 3px 52px;
}

.telegram, .vk, .odnoklassniki {
    width: 24px;
    height: 24px;
    margin: 5px;
    border-radius: 50%;
}

.download_cv {
    padding: 10px 29px;
    border-radius: 40px;
    background: #444444;
    color: #FFFFFF;
    font-family: Helvetica, sans-serif;
    font-size: 17px;
    line-height: 20px;
    border: 3px solid #FFFFFF;
    align-self: center;
}

.copyrights {
    margin-top: 66px;
    margin-bottom: 10px;
    align-self: center;
    font-size: 14px;
}

.cv-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content {
    align-self: center;
}

.cv-name {
    margin-bottom: 10px;
    font-size: 62px;
    font-weight: bold;
    text-align: center;
    line-height: 71px;
}

.bar-name {
    font-size: 38px;
    font-weight: bold;
}

.cv-profession {
    margin-top: 0;
    font-size: 22px;
    line-height: 23px;
    text-align: center;
}

.bar-profession {
    font-size: 20px;
}