.button {
    padding: 10px 29px;
    border-radius: 40px;
    background-color: var(--color-body-background);
    color: var(--color-text);
    font-family: Helvetica, serif;
    font-size: 17px;
    line-height: 20px;
    border: 3px solid  var(--color-text);
    align-self: center;
}

.button:hover {
    background-color: var(--color-text);
    color: var(--color-body-background);
}

.button-download-cv {
}

.button-change-theme {
    padding: 20px;
    border-radius: 50%;
}

.button-change-page {
    background-color: var(--color-body-main);
    color: var(--color-text);
}

.button-change-page:hover {
    background-color: var(--color-text);
    color: var(--color-body-main);
}
