
:root .dark-theme {
    --color-text: #FFFFFF;
    --color-body-background: #444444;
    --color-body-main: #222222;
    --color-shadow: #5d5d5d;
}

:root .light-theme {
    --color-text: #000000;
    --color-body-background: #BBBBBB;
    --color-body-main: #DDDDDD;
    --color-shadow: #a2a2a2;
}
