@import url(reset.scss);
@import url("avatar.scss");
@import url("names.scss");
@import url("button.scss");

@import url("profile-card.scss");

@import url("cosmitical.scss");
@import url("__bg-size-cover.scss");

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Helvetica, serif;
    font-size: 17px;
    color: var(--color-text);
    }

    .CV {
        display: flex;
        background: var(--color-body-background);
        width: 1127px;
        height: 595px;
        border-radius: 30px;
        }

        .cv-bar {
            width: 380px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cv-bar .profile-card {
            margin-top: 70px;
        }

        .copyrights {
            margin-top: 66px;
            margin-bottom: 10px;
            align-self: center;
            font-size: 14px;
        }


    .cv-card {
        position: relative;
        width: 747px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--color-body-main);
        border-radius: 30px;
        }

        .cv-card .button-change-theme {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .main-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            }

            .main-content .profile-name {
                margin-top: -7px;
                align-self: center;
                line-height: 71px;
                font-size: 62px;
            }

            .main-content .profession-name {
                padding-top: 7px;
                font-size: 22px;
                line-height: 23px;
            }
