.profession-name {
    margin: 0;
    text-align: center;
}

.profile-name {
    margin: 0;
    text-align: center;
    font-weight: bold;
}

.skills-header {
    margin: 0;
    text-align: left;
    font-weight: bold;
}
