.button-download-cv {
    padding: 10px 29px;
    border-radius: 40px;
    background: #444444;
    color: #FFFFFF;
    font-family: Helvetica, serif;
    font-size: 17px;
    line-height: 20px;
    border: 3px solid #FFFFFF;
    align-self: center;
}

.button-change-theme {
    color: #FFFFFF;
    padding: 20px;
    border-radius: 50%;
}

.button-download-cv:hover {
    background-color: #FFFFFF;
    color: #444444;
}
