.social-networks-bar {
    display: flex;
    align-items: center;
}
.telegram .icon-social-network {
    background: url("../../../res/tg.png");
    background-size: cover;
}

.vk .icon-social-network {
    background: url("../../../res/vk.png");
    background-size: cover;
}
.odnoklassniki .icon-social-network {
    background: url("../../../res/odnoklassniki.png");
    background-size: cover;
}